{% extends "base.html" %}

{% block content %}

<div class="container">
 
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card">
            <article class="card-body">

            <h4 class="card-title mb-4 mt-1ss">Edit Profile</h4>

            <form action="" method="post">
                {{ form.hidden_tag() }}
                
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32, class="form-control", placeholder="Username", type="text") }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.about_me.label }}<br>
                    {{ form.about_me(class="form-control", placeholder="O meni", type="text") }}<br>
                    {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>    
                    {{ form.picture.label }}<br>
                    {{ form.picture(size=32) }}<br>
                    {% for error in form.picture.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                
                <div class="form-group">
                {{ form.submit(type="submit", class="btn btn-primary btn-block bg-success text-white border-0") }}
                </div> <!-- form-group// -->
            </form>

        </article>
        </div>
        </div>
    </div>


</div>
{% endblock %}