{% extends "base.html" %}

{% block content %}
<div class="container sta">

<div class="row">
    <aside class="col-sm-5 ml-auto">

<div class="card">
<article class="card-body">
<a href="{{ url_for('register') }}" class="float-right btn btn-outline-primary bg-success text-white border-0">Registriraj se</a>
<h4 class="card-title mb-4 mt-1ss">Prijavi se</h4>
     <form action="" method="post" novalidate>
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.username.label }}<br>
            {{ form.username(size=32, class="form-control", class="form-control", placeholder="Username", type="text") }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div> <!-- form-group// -->
    <div class="form-group">
        <a class="float-right text-success" href="#">Forgot?</a>
        {{ form.password.label }}<br>
        {{ form.password(size=32, class="form-control", class="form-control", placeholder="******", type="password") }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

    </div> <!-- form-group// --> 
    <div class="form-group"> 
    <div class="checkbox">
        {{ form.remember_me() }} {{ form.remember_me.label }}
    </div> <!-- checkbox .// -->
    </div> <!-- form-group// -->  
    <div class="form-group">
        {{ form.submit(type="submit", class="btn btn-primary btn-block bg-success text-white border-0") }}
    </div> <!-- form-group// -->                                                           
</form>
</article>
</div> <!-- card.// -->

    </aside> <!-- col.// -->
    <aside class="col-sm-4">

{% endblock %}