{% extends "base.html" %}

{% block content %}

    

    {% for izleti in izlet %}
    <div class="svi">
  <div class="row red">
    <div class="col">
      <a class="nav-link" href="{{ url_for('izlet', name=izleti.name) }}"><h4>{{ izleti.name }}</h4></a>
        <img src="{{ izleti.picture }}" id="slika">
    </div>
    <div class="col-6">
        <h6>Opis izleta</h6>

        <p>{{ izleti.description }}</p>    

        <h6>Lokacija</h6>
        <p>{{ izleti.location }}</p>

        <h6>Transport</h6>
        <p>{{ izleti.transport }}</p>
    </div>
    <div class="col">
      <h6>Pocetak</h6>
        <p>{{ izleti.begin }}</p>

        <h6>Kraj</h6>
        <p>{{ izleti.end }}</p>

        <h6>Cijena</h6>
        <p>{{ izleti.cost }} kn</p>

        
        
        {% if izleti.user_id == current_user.id %}
            <p><a href="{{ url_for('edit_izlet', id=izleti.id) }}">Edit your Izlet</a></p>
        {% endif %}
    </div>
    </div>
    </div>

    <hr>
    {% endfor %}


{% endblock %}