{% extends "base.html" %}

{% block content %}

    

    {% for user in useri %}
    <div class="svi-korisnici">
  <div class="row m-4">
    <div class="col">
      <!--a class="nav-link" href="{{ url_for('user', username=user.usernamename) }}"><h4>{{ user.username }}</h4></a>-->
        <h4 class="zeleno">{{ user.username }}</h4>
        <img src="{{ user.picture }}" id="slika-izlet">
    </div>
    <div class="col-6"> 
        <h5 class="zeleno">O meni</h5>

        <p>{{ user.about_me }}</p>   
        {% if user.last_seen %}<p>Last seen on: {{ user.last_seen.strftime('%B %d %Y - %H:%M:%S') }}</p>{% endif %} 

    </div>
    
   </div>

    <hr>
    {% endfor %}
{% endblock %}